* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    display: flex;
    padding: 10px;
    background-color: #233142;
    justify-content: space-between;
    flex-shrink: 0.1; /* make the words in nav bar not break lines when shrunk */
}

#navlogo {
    display: flex;
    margin-right: auto;
    text-decoration: none;
    font-size: 34px;
    color: #f95959;
}

.navlinks {
    display: flex;
    margin-left: auto;
    align-items: center;
    flex: 1;
    list-style: none;
    justify-content: flex-end;
    margin: 10px;
}

.navlink {
    display: flex;
    text-decoration: none;
    flex: 1;
    justify-content: flex-end;
    font-size: 21px;
    color: #e3e3e3;
    padding-right: 15px;
    padding-left: 15px;
}

body {
    background-color: #455d7a;
}

h1 {
    font-size: 89px;
    text-align: center;
    color: #e3e3e3;
}

h2 {
    font-size: 55px;
    text-align: center;
    color: #f95959;
}

h3 {
    font-size: 34px;
    text-align: center;
    color: #e3e3e3;
}

h3 a {
    text-decoration: none;
    color: #e3e3e3;
}

h4 {
    font-size: 21px; 
    text-align: center;
    color: #e3e3e3;
}

.footercontainer {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    align-items: flex-end;
    background-color: #233142;
    padding: 10px;
}

footer li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

footer li a {
    text-decoration: none;
    color: #f95959
}

.footercontent {
    display: flex;
}

.quickoverview li {
    text-align: center;
    color: #e3e3e3;
}

em a {
    text-decoration: none;
    color: #e3e3e3;
}

.repninjaparent {
    display: flex;
    justify-content: center;
    margin: 55px;
}

#repninjaiframe {
    display: flex;
    border: none;
}